@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Rubik:wght@400;500;700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-size: 90%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: rgb(228, 230, 244);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
nav {
  padding: 0.2rem;
  width: 99%;
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: rgb(228, 230, 244);
  /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.452); */
  z-index: 101;
  /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.435); */
}
.logo {
  width: 20%;
  /* border: 1px solid blue; */
  text-align: center;
  font-size: 1.4rem;
  font-family: "La Belle Aurore", cursive;
}

nav .nav-lists {
  width: 55%;
  list-style-type: none;
  /* border: 1px solid blue; */
}
.nav-list {
  display: inline-block;
  margin: 0.3rem 0.5rem;
  /* border: 1px solid blue; */
  padding: 0.5rem;
}
.nav-list a {
  color: black;
  text-decoration: none;
  position: relative;
  padding: 0.2rem;
  font-weight: 500;
  /* border: 1px solid blue; */
}
nav .nav-list a::after {
  content: " ";
  position: absolute;
  /* width: 100%; */
  left: 0;
  bottom: 0;
  height: 2.5px;
  border-radius: 5px;
  background-color: #38761d;
  /* width: 100%; */
}
.nav-list a:hover::after {
  animation-name: width;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
#active {
  color: green;
  font-weight: 600;
}
#active::after {
  content: " ";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 2px;
  border-radius: 5px;
  background-color: #38761d;
  /* width: 100%; */
}
.cart-added {
  position: fixed;
  bottom: 3rem;
  z-index: 100;
  background-color: #38761d;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  transform: translateY(200%);
  transition: all 1s;
}

.cart-translate {
  transform: translateY(0);
}
.header {
  margin-top: 8rem;
  /* border: 1px solid blue; */
  width: 90%;
  padding: 1rem;
  height: auto;
}
.search-spiner {
  align-self: center;
  margin: auto auto;
  margin-top: 1rem;
}
.search-products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.search-input {
  padding: 0.5rem 2rem;
  width: 30%;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border: 2px solid #38761d;
}
.search-btn {
  padding: 0.5rem 2rem;
  background-color: #38761d;
  border: 2px solid #38761d;
  color: white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.search-btn:hover {
  border: 2px solid #38761d;
  background-color: transparent;
  color: #38761d;
}
.search-results {
  width: 100%;
  margin: 2rem 0;
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1rem;
}
.links {
  position: fixed;
  right: 0.5rem;
  top: 5rem;
  padding: 0.8rem;
  background-color: rgba(0, 0, 0, 0.741);
  border: none;
  border-radius: 0.3rem;
  color: white;
}
.categories-crumbs {
  position: fixed;
  right: 0;
  top: 8rem;
  background-color: grey;
  border-radius: 1rem;
  width: 15%;
  transition: all 1s;
  transform: translateX(120%);
  z-index: 101;
}
.crumbs-translate {
  transform: translateX(0%);
}
.categories-crumbs a {
  display: block;
  margin: 0.5rem;
}
.categories-container {
  width: 90%;
  min-height: 200px;
  border: 1px solid #38761d;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
}
.categories-overlay {
  position: absolute;
  width: 100%;
  border-radius: 1rem;
  height: 100%;
  background-color: #38761d;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  transition: all 1s;
  /* display: none; */
}
.spiner {
  position: static;
  width: 40px;
  height: 40px;
  border: 0.3rem solid white;
  border-radius: 50%;
  border-left-color: green;
  /* top: 10%;
  left: 50%; */
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
  animation-name: spin;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.product-card {
  font-size: small;
  width: 170px;
  margin: 1.5rem 0.4rem;
  padding: 0.6rem;
  border: 1px solid rgba(128, 128, 128, 0.561);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 4px rgba(72, 69, 69, 0.342);
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
}
.product-card:hover {
  box-shadow: 0px 0px 8px rgba(72, 69, 69, 0.55);
  /* cursor: pointer; */
}
.product-card .product-image {
  width: 170px;
  border-radius: 0.5rem;
  height: 200px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.298);
}
.product-image img {
  width: 100%;
  border-radius: 0.5rem;
  height: 200px;
}
.product-card .product-brand {
  align-self: flex-start;
  margin: 0.5rem;
  background-color: rgba(94, 138, 109, 0.575);
  padding: 0.3rem;
  border-radius: 0.5rem;
  color: #38761d;
}
.product-card .product-name {
  font-size: 0.97rem;
  font-weight: 500;
  align-self: flex-start;
  text-decoration: none;
  margin: 0.3rem 0.2rem;
  color: black;
}
.product-card .ratings {
  align-self: flex-start;
  margin: 0.2rem;
  color: gold;
}
.product-card .price {
  align-self: flex-start;
  margin: 0.8rem;
  font-size: 1rem;
  font-weight: 500;
}
.product-card .cart {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 30px;
  width: 30px;
  background-color: rgba(94, 138, 109, 0.263);
  border-radius: 50%;
  border: none;
  font-size: 1rem;
  text-align: center;
  outline: 0.5rem solid rgba(94, 138, 109, 0.283);
  color: black;
  cursor: pointer;
}
.product-card .cart:hover {
  background-color: rgba(0, 0, 0, 0.728);
  color: white;
  outline: 0.5rem solid rgba(0, 0, 0, 0.728);
}
/* 

*/
@keyframes width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
footer {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  width: 100%;
  /* padding: 1rem; */
  background-color: rgb(41, 50, 66);
  color: white;
  margin-top: 1rem;
}
.fot-col {
  width: 50%;
  margin-top: 1rem;
  padding: 1rem;
}
.fot-col-1 {
  width: 50%;
}
.fot-col-1 img {
  width: 70%;
}
.fot-col a {
  display: block;
  margin: 1rem 0;
  color: white;
  text-decoration: none;
}
.fot-col a:hover {
  text-decoration: underline;
}

.mobile-none {
  display: none;
}
.none {
  display: none;
}

/* 

*/

@media all and (max-width: 650px) {
  body {
    position: relative;
  }
  .body-100 {
    height: 100vh;
    overflow-y: hidden;
  }

  nav {
    padding: 0.4rem;
    width: 96%;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgb(228, 230, 244);
    /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.452); */
    z-index: 100;
  }
  .menu {
    font-size: 1.2rem;
    background-color: transparent;
    border: 1px solid #38761d;
    border-radius: 0.4rem;
    /* z-index: 150; */
    color: #38761d;
    padding: 0.2rem 0.5rem;
    margin-right: 0.9rem;
    z-index: 150;
  }
  .logo {
    width: 20%;
    /* border: 1px solid blue; */
    text-align: center;
    font-size: 1.3rem;
    font-family: "La Belle Aurore", cursive;
  }
  .overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.325);
    z-index: 99;
  }
  nav .nav-lists {
    width: 55%;
    list-style-type: none;
    /* border: 1px solid blue; */
    position: fixed;
    position: fixed;
    height: 95vh;
    z-index: 150;
    right: 0;
    top: -14px;
    background-color: rgb(228, 230, 244);
    padding-top: 3rem;
    transform: translateX(100%);
    box-shadow: -2px 0px 5px black;
    transition: all 1s;
  }
  nav .translate {
    transform: translateX(0);
  }
  .nav-list {
    display: block;
    margin: 1rem 0.5rem;
    /* border: 1px solid blue; */
    padding: 0.5rem;
  }
  .nav-list a {
    color: black;
    text-decoration: none;
    position: relative;
    padding: 0.8rem;
    font-weight: 500;
    font-size: 1.1rem;
    /* border: 1px solid blue; */
  }
  nav .nav-list a::after {
    content: " ";
    position: absolute;
    /* width: 100%; */
    left: 0;
    bottom: 0;
    height: 2.5px;
    border-radius: 5px;
    background-color: #38761d;
    display: none;
    /* width: 100%; */
  }
  .nav-list a:hover::after {
    animation-name: width;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  #active {
    color: green;
    font-weight: 600;
  }
  #active::after {
    content: " ";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    border-radius: 5px;
    background-color: #38761d;
    /* width: 100%; */
  }

  /* 
  
  
  */

  .links {
    position: fixed;
    right: 0.5rem;
    top: 4rem;
    padding: 0.8rem;
    background-color: rgba(0, 0, 0, 0.943);
    border: none;
    border-radius: 0.3rem;
    color: white;
    z-index: 10;
  }

  .header {
    margin-top: 8rem;
    /* border: 1px solid blue; */
    width: 90%;
    padding: 1rem;
    height: auto;
  }

  .categories-crumbs {
    position: fixed;
    right: 0;
    top: 7rem;
    background-color: grey;
    border-radius: 1rem;
    width: 40%;
    transition: all 1s;
    transform: translateX(120%);
    z-index: 10;
    overflow-y: scroll;
  }
  .crumbs-translate {
    transform: translateX(0%);
  }
  .categories-crumbs a {
    display: block;
    margin: 0.5rem;
  }
  .categories-container {
    width: 95%;
    min-height: 200px;
    border: 1px solid #38761d;
    margin: 1rem 0;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
  }

  .product-card {
    font-size: small;
    width: 190px;
    margin: 1.5rem 0.4rem;
    padding: 0.6rem;
    border: 1px solid rgba(128, 128, 128, 0.561);
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 4px rgba(72, 69, 69, 0.342);
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
  }
  .product-card:hover {
    box-shadow: 0px 0px 8px rgba(72, 69, 69, 0.55);
    /* cursor: pointer; */
  }
  .product-card .product-image {
    width: 190px;
    border-radius: 0.5rem;
    height: 200px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.298);
  }
  .product-image img {
    width: 100%;
    border-radius: 0.5rem;
    height: 200px;
  }
  .product-card .product-brand {
    align-self: flex-start;
    margin: 0.5rem;
    background-color: rgba(94, 138, 109, 0.575);
    padding: 0.3rem;
    border-radius: 0.5rem;
    color: #38761d;
  }
  .product-card .product-name {
    font-size: 0.97rem;
    font-weight: 500;
    align-self: flex-start;
    text-decoration: none;
    margin: 0.3rem 0.2rem;
    color: black;
  }
  .product-card .ratings {
    align-self: flex-start;
    margin: 0.2rem;
    color: gold;
  }
  .product-card .price {
    align-self: flex-start;
    margin: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
  }
  /* .product-card .cart {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    height: 30px;
    width: 30px;
    background-color: rgba(94, 138, 109, 0.263);
    border-radius: 50%;
    border: none;
    font-size: 1rem;
    text-align: center;
    outline: 0.5rem solid rgba(94, 138, 109, 0.283);
    color: black;
    cursor: pointer;
  } */

  .product-card .cart {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    height: 30px;
    width: 30px;
    background-color: rgba(94, 138, 109, 0.263);
    border-radius: 50%;
    border: none;
    font-size: 1.1rem;
    text-align: center;
    outline: none;
    padding: 0.3rem;
    outline: 0.5rem solid rgba(94, 138, 109, 0.283);

    color: black;
    cursor: pointer;
  }

  .product-card .cart:hover {
    background-color: rgba(0, 0, 0, 0.728);
    color: white;
    outline: 0.5rem solid rgba(0, 0, 0, 0.728);
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    /* padding: 1rem; */
    background-color: rgb(41, 50, 66);
    color: white;
    margin-top: 1rem;
  }
  .fot-col {
    width: 30%;
    margin-top: 1rem;
    padding: 1rem;
  }
  .fot-col-1 {
    width: 50%;
  }
  .fot-col-1 img {
    width: 70%;
  }
  .fot-col a {
    display: block;
    margin: 1rem 0;
    color: white;
    text-decoration: none;
  }
  .fot-col a:hover {
    text-decoration: underline;
  }
  .last-f {
    width: 90%;
    text-align: center;
  }
  .overlay {
    position: fixed;
    top: -1rem;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.325);
    z-index: 99;
  }
  .none {
    display: none;
  }

  .mobile-none {
    display: block;
  }
}
