body{
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    /* max-width: 100%; */
   box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: minmax(20px,auto);
}
.header{
    max-width: 100%;
    font-size: 1.7rem;
    grid-column: span 2;
}
.header h1{
  text-align: center;
  color: red;
  text-shadow: 5px 4px 3px rgba(0, 0, 0, 0.466);
}

.nav{
    max-width: 100%;
    grid-column: span 2;
    background-color: brown;
    position: relative;
    display: flex;
    align-items: center ;
    justify-content: space-around;
}

.nav h2{
    font-size: 1.9rem;
    color: coral;
    text-shadow: 6px 3px 2px black;
}

.search{
    background: ivory;
    border-radius: 10px;
    
}

.search input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 3px;
    padding-top: 7px;
    padding-bottom: 5px;
    background: url('./images/icons8-search-24.png');
    background-repeat: no-repeat;
    background-position: 2px;
    padding-left: 25px;
    border: none;
}

.search button{
    box-sizing: border-box;
    padding: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    border: none;
    border-radius: 7px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    background-color: grey;
}
.search button:hover{
    background-color: coral;
    color: white;
}

.nav-link>a{
    color: white;
    padding: 7px;
    text-decoration: none;
    position: relative;
}

.nav-link>a:hover{
    color: red;
    text-decoration: underline;
}
.profile{
    color: white;
    position: relative;

} 

.profile .drop{
    position: absolute;
    display: none;
    
}
.profile .drop a{
    display: block;
    margin-left: 200px;
    padding: 10px;
    text-decoration: none;
    margin-top: -1px;
    color: blue;
    
}

.profile .drop a:hover{
    background-color: coral;
    color: red;
}

.nav-link .profile:hover .drop{
display: block;
}

.grid-item-3{
    grid-column: span 2;
}




